@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-[#F9F8F3] text-[#1a1a1a] font-sans antialiased overflow-x-hidden;
}

.bg-dot-grid {
  background-image: radial-gradient(#000 1px, transparent 0);
  background-size: 24px 24px;
}

/* Hide scrollbar for horizontal scrolling sections */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
